In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
!ls

EDA-Copy1.ipynb
EDA.ipynb
baseline_book .ipynb
bigger_data.ipynb
data_cleaning.ipynb
es_en_column_map.json
multi_label_classification_proto_type.ipynb
pandas_merge_demo.ipynb
sample_submission.csv
satander_EDA_es.ipynb
test_ver2.csv
test_ver2_en.csv
train_ver2.csv
train_ver2_en.csv

In [ ]:
train_df = pd.read_csv("./train_ver2_en.csv", low_memory=False)

In [ ]:
for col in train_df.columns:
    print(col)
    print(train_df[col])
    print()

In [3]:
# Size of the data
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647309 entries, 0 to 13647308
Data columns (total 48 columns):
 #   Column                   Dtype
---  ------                   -----
 0   date                     object
 1   customer_code            int64
 2   employee_index           int64
 3   country                  int64
 4   sex                      int64
 5   age                      int64
 6   first_holder_date        object
 7   new_customer_index       int64
 8   customer_seniority       int64
 9   primary_index            int64
 10  primary_last_date        object
 11  customer_type            int64
 12  customer_relation_type   int64
 13  residence_index          int64
 14  foreigner_index          int64
 15  spouse_index             int64
 16  channel                  int64
 17  deceased_index           int64
 18  addres_type              int64
 19  province_code            int64
 20  province_name            int64
 21  activity_index           int64
 22  household_gross_income   float64
 23  segmentation             int64
 24  saving_account           int64
 25  guarantees               int64
 26  current_accounts         int64
 27  derivada_account         int64
 28  payroll_account          int64
 29  junior_account           int64
 30  mas_particular_account   int64
 31  particular_account       int64
 32  particular_plus_account  int64
 33  short_term_deposit       int64
 34  medium_term_deposit      int64
 35  long_term_deposit        int64
 36  e_account                int64
 37  funds                    int64
 38  mortgage                 int64
 39  pensions                 int64
 40  loans                    int64
 41  taxes                    int64
 42  credit_card              int64
 43  securities               int64
 44  home_account             int64
 45  payroll                  int64
 46  pensions_2               int64
 47  direct_debit             int64
dtypes: float64(1), int64(44), object(3)
memory usage: 4.9+ GB

In [7]:
# Training variables
train_df.iloc[:, :24].head()

,date,customer_code,employee_index,country,sex,age,first_holder_date,new_customer_index,customer_seniority,primary_index,...,foreigner_index,spouse_index,channel,deceased_index,addres_type,province_code,province_name,activity_index,household_gross_income,segmentation
0,2015-01-28,1375586,0,0,0,35,2015-01-28,0,6,0,...,0,-99,0,0,0,0,0,0,87218.10,0
1,2015-01-28,1050611,0,0,1,23,2015-01-28,0,35,0,...,1,-99,1,0,0,1,1,1,35548.74,1
2,2015-01-28,1050612,0,0,1,23,2015-01-28,0,35,0,...,0,-99,1,0,0,1,1,1,122179.11,1
3,2015-01-28,1050613,0,0,0,22,2015-01-28,0,35,0,...,0,-99,2,0,0,2,2,1,119775.54,1
4,2015-01-28,1050614,0,0,1,23,2015-01-28,0,35,0,...,0,-99,1,0,0,2,2,0,NaN,1

In [8]:
# Products as targets (labels are generated from these columns)
train_df.iloc[:, 24:].head()

,saving_account,guarantees,current_accounts,derivada_account,payroll_account,junior_account,mas_particular_account,particular_account,particular_plus_account,short_term_deposit,...,mortgage,pensions,loans,taxes,credit_card,securities,home_account,payroll,pensions_2,direct_debit
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Some of preprocess
for col in ['date']:
    train_df[col] = pd.to_datetime(train_df['date'], format='%Y-%m-%d')
first_year = 2015
for col in ['date']:
    col_add = col + '_int'
    train_df[col_add] = (train_df[col].dt.year - first_year)*12 + train_df[col].dt.month

In [11]:
# A minimum dataframe needed
train_df_small = train_df[['date', 'customer_code', 'date_int', 'saving_account']]

In [15]:
# Only "saving_account" is product (label) in this case
train_df_small.head()

        date  customer_code  date_int  saving_account
0 2015-01-28        1375586         1               0
1 2015-01-28        1050611         1               0
2 2015-01-28        1050612         1               0
3 2015-01-28        1050613         1               0
4 2015-01-28        1050614         1               0

In [20]:
# Problem: I want to add a column "saving_account_next_month"
# But the command below takes too much time. 
result = train_df_small.groupby('customer_code').apply(lambda x: x.sort_values(by='date_int'))

KeyboardInterrupt:

In [22]:
# !!!! A confusing point is, the aggregation above should not take such a long time. 
# Sorting the dataframe on ['customer_code', 'date_int'] should give the same result, and this finishes in no time. 
train_df_small_sorted = train_df_small.sort_values(by=['customer_code', 'date_int'])

In [19]:
train_df_small_sorted.loc[train_df_small_sorted['customer_code']==15889, :]

               date  customer_code  date_int  saving_account
416965   2015-01-28          15889         1               0
836224   2015-02-28          15889         2               0
1673961  2015-03-28          15889         3               0
1882060  2015-04-28          15889         4               0
3144382  2015-05-28          15889         5               0
3565837  2015-06-28          15889         6               0
4078996  2015-07-28          15889         7               0
5319234  2015-08-28          15889         8               0
5705188  2015-09-28          15889         9               0
6973298  2015-10-28          15889        10               0
7450451  2015-11-28          15889        11               0
8617992  2015-12-28          15889        12               0
9401570  2016-01-28          15889        13               0
10426092 2016-02-28          15889        14               0
11170871 2016-03-28          15889        15               0
12221013 2016-04-28          15889        16               0
13026343 2016-05-28          15889        17               0